<div class="oldalsav" style="padding-left: 3vw; display: inline-block;">
    <div><img src="/assets/FB.png" style="width:4vw; height:4vw"></div>
    <div><img src="/assets/STREAM.png"style="width:4vw; height:4vw"></div>
    <div><img src="/assets/YT.png"style="width:4vw; height:4vw"></div>
    <div><img src="/assets/U.png" style="width:4vw; height:4vw"></div>
    <div><img src="/assets/MAIL.png" style="width:4vw; height:4vw"></div>
</div>

<div class="main"  style=" display: inline-block;">



    <div class="cimsor" >
        <p class="cim"><span>Mentett cikkek:</span></p>
    </div>


    <ng-container *ngFor="let bookmark of bookmarkArray;let i = index">
        <div class="placeholder"></div>

    </ng-container>





    <img src="/assets/cocacola.jpg" style="width:81.5vw ;height:13vw; margin-top:5vw">
    <div class="cimsor">
        <p class="cim"><span>Mentett podcastek:</span></p>
    </div>
    <img src="/assets/cocacola.jpg"style="width:81.5vw ;height:13vw; margin-top:5vw">
    <div class="cimsor">
        <p class="cim"><span>Mentett képgallériák:</span></p>
    </div>
    <img src="/assets/cocacola.jpg" style="width:81.5vw ;height:13vw; margin-top:5vw">

</div>