<div class="main"  style=" display: inline-block;">



    <div class="cimsor" >
        <p class="cim"><span>Mentett cikkek:</span></p>
    </div>


    <ng-container *ngFor="let bookmark of bookmarkArray;let i = index">
        <div class="placeholder"></div>

    </ng-container>





    <img src="/assets/cocacola.jpg" >
    <div class="cimsor">
        <p class="cim"><span>Mentett podcastek:</span></p>
    </div>
    <img src="/assets/cocacola.jpg">
    <div class="cimsor">
        <p class="cim"><span>Mentett képgallériák:</span></p>
    </div>
    <img src="/assets/cocacola.jpg" >

</div>